{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<div class="container">
    <h1 class="section-title">Get in Touch</h1>
    <div class="contact-content">
        <!-- Contact Information -->
        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>Email: <a href="patrickjohin@gmail.com" class="contact-link">patrickjohin@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/patrick-hinson-2001b6167/" class="contact-link" target="_blank">link</a></p>
            <p>GitHub: <a href="https://github.com/p-hinson" class="contact-link" target="_blank">github.com/p-hinson</a></p>
            <!-- Add more links or contact methods as needed -->
        </section>
    </div>
</div>
{% endblock %}